*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #050505;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    overflow:hidden;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 0 8%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.logo{
    font-family: 'Playfair Display',serif;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 5px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-left: 35px;
}
nav ul li a{
    text-decoration: none;
    color: #888;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.4s;
}
nav ul li a:hover{
    color: #e99a9a;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    margin-top: -50px;
    

}
.text{
    flex: 1;
}
.subtitle{
    color: #e99a9a;
    letter-spacing: 4px;
    font-weight: 200;
    margin-bottom: 10px;
}
.text h2{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-style: italic;
    line-height: 1;
    margin-bottom: 25px;
}
.text p{
    font-size: 15px;
    color: #aaa;
    max-width: 400px;
    line-height: 1.8;
    margin-bottom: 20px;

}
.btn{
    display: inline-block;
    padding: 15px 20px;
    border: 1px solid #e99a9a;
    color: #e99a9a;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s;
}
.btn:hover{
    background: #e99a9a;
    color: #000;
    box-shadow: 0 0 20px rgba(233, 154, 154, 0.4);
}
.image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.image img{
    max-height: 75vh;
    width: auto;
    object-fit: contain;
    z-index: 2;
    filter: drop-shadow(0 0 10PX rgba(0,0,0,0.8));
}
.glow{
    position: absolute;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, rgba(233, 154, 154, 0.2) 0%, rgba(197, 160, 89, 0.05) 50%, transparent 70%);
    border-radius: 50%;
    z-index: 1;
    filter: blur(40px);
    animation: pulse 4s infinite ease-in-out;

}
@keyframes pulse{
    0%, 100%{
        transform: scale(1);
        opacity: 0.5;
    }
    50%{
        transform: scale(1.15);
        opacity: 0.8;
    }

}
